dist: xenial

language: python

python:
  - "3.7"  # note that version really set in `environment.yml` though

cache: pip

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda env create -f environment.yml
  - conda activate pdb_prot_align

install:
  - pip install -r test_requirements.txt
  - pip install -e .

script: 
  - flake8
  - pytest

branches:
  only:
    - master

notifications:
  slack: jbloomlab:3HPcX9Q5Jhlf8SlHVZWFCw9q

